<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/components/portafolio.html">
  <link rel="stylesheet" href="/components/contacto.html">
  <link rel="stylesheet" href="/components/sobremi.html">
  <link rel="stylesheet" href="/estilos/principal.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Document</title>
</head>

<body>
  <header class="container-fluid p-0">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/img/grado.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>FOTOGRAFÍAS PROFECIONALES</h1>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/imagen3.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>FOTOGRAFÍAS PROFECIONALES</h1>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/img/imagen1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>FOTOGRAFÍAS PROFECIONALES</h1>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <!-- Navegación dentro del carrusel -->
      <nav class="navbar navbar-expand-lg navbar-dark navbar-overlay">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">EVENTOS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/components/inicio.html">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/components/portafolio.html">PORTAFOLIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/components/sobremi.html">SOBRE MI</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/components/contacto.html">CONTACTO</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <main class="container-main">
    <h1 class="text">MIS ESPERIENCIAS</h1>
    <div class="container my-4">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="/img/grado.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">GRADOS</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="/img/bebe.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">GRADOS</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="/img/pareja.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">GRADOS</h3>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <section class="container-section">
    <div class="container my-4">
      <div class="sobre">
        <h2 class="h2text">SOBRE MI</h2>
        <div class="content-container">
          <div class="image-container">
            <img src="/img/foto2.jpg" alt="Foto de perfil">
          </div>
          <div class="text-container">
            <p class="textp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio amet at, sapiente culpa optio
              consequatur
              dolore maiores qui eligendi sint quod quaerat pariatur possimus ut doloremque voluptas accusamus
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio amet at, sapiente culpa optio consequatur
              dolore maiores qui eligendi sint quod quaerat pariatur possimus ut doloremque voluptas accusamus

            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="foter">
    <h6 class="tx">sigame en mis redes sociales</h6>
    <div class="redes">
      <img src="/img/logotipo-de-twitter.png" class="social-icon">
      <img src="/img/facebook.png" class="social-icon">
      <img src="/img/instagram.png" class="social-icon">
      <img src="/img/whatsapp.png" class="social-icon">
    </div>

    <p class="cpry">
      @Copyright
    </p>

  </footer>

</body>

</html>