<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/estilos/portafolio.css">
  <link rel="stylesheet" href="/components/index.html">
  <link rel="stylesheet" href="/components/portafolio.html">
  <link rel="stylesheet" href="/components/sobremi.html">
  <link rel="stylesheet" href="/components/contacto.html">
  <link rel="stylesheet" href="/seccion/seccion1.html">
  <link rel="stylesheet" href="/seccion/seccion2.html">
  <link rel="stylesheet" href="/seccion/seccion3.html">
  <title>Portafolio</title>
</head>
<body>
  <header class="container-fluid p-0">
    <div class="img">
      <img src="/img/playa.jpg.webp" alt="Imagen de fondo">
      <h1>PORTAFOLIO</h1>
      <div class="navbar-container">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-overlay">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/components/inicio.html">INICIO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/components/portafolio.html">PORTAFOLIO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/components/sobremi.html">SOBRE MI</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/components/contacto.html">CONTACTO</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  


  <main class="container-main">
  <div class="container my-4">
    <div class="row g-4 justify-content-center">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <a href="/seccion/seccion1.html" class="stretched-link">
            <img src="/img/imagen3.jpeg" class="card-img-top" alt="Imagen 1">
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <a href="/seccion/seccion2.html" class="stretched-link">
            <img src="/img/pareja.jpg" class="card-img-top" alt="Imagen 2">
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <a href="/seccion/seccion3.html" class="stretched-link">
            <img src="/img/bebyshower.jpg" class="card-img-top" alt="Imagen 3">
          </a>
        </div>
      </div>
    </div>
  </div>
  </main>


    <footer class="foter">
        <h6 class="text">sigame en mis redes sociales</h6>
        <div class="redes">
           <img src="/img/logotipo-de-twitter.png" class="social-icon">
           <img src="/img/facebook.png" class="social-icon">
           <img src="/img/instagram.png"class="social-icon">
           <img src="/img/whatsapp.png" class="social-icon">
        </div>

        <p class="cpry">
          @Copyright
      </p>

    </footer>
    
</body>
</html>